$main-txt-cl: #2a2a2a;
$secondary-txt-cl: #777779;
$main-color: #132df0;
// $main-color: #da3434;


$main-bg-cl: #fff;


$hover-btn-cl: #1c34ead5;
$hover-btn-cl: #1c34ea81;
// $hover-btn-cl: #dc6161;
$main-border: 1px solid #2a2a2a;

$border-radius: 15px;
$border-radius: none;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;